@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  background-color: var(--btn-bg-active-color);
  color: var(--btn-active-text-color);
  transform: translateY(-10px);
}

@layer base {
  :root {
    --btn-bg-color: #37275b;
    --btn-bg-active-color: #654c9e;
    --btn-text-color: #b38eff;
    --btn-active-text-color: #ecdfff;
  }

  .light {
    --btn-bg-color: #7557bb;
    --btn-bg-active-color: #4b3b6e;
    --btn-text-color: #e5d9ff;
    --btn-active-text-color: #f4ecff;
  }
}

@layer components {
  .nav-btn {
    @apply text-btn-text py-[5px] px-[20px] text-[18px] rounded-[30px] transition-transform duration-200 bg-btn-bg;
  }
}
