@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: none;
  user-select: none;
}
body {
  font-family: "Nunito", sans-serif;
}

@layer base {
  :root {
    /*MAIN START*/
    --bg-main: #090f0d;
    --text-color: #36876d;
    --text-color-active: #b7ffe8;

    --text-gray: #5c6663;
    --text-gray-active: #b8ccc7;
    /*MAIN END*/

    /*ALERTS START*/
    --alert-bg-error: #141010;
    --alert-text-error: #ff6262;

    --alert-bg-success: #00140f;
    --alert-text-success: #00e2a6;
    /*ALERTS END*/

    /*SAVED ANIMATION START*/
    --bg-controller: #0c1412;
    --bg-saved: #101413;
    /*SAVED ANIMATION END*/
  }

  .light {
    --bg-color: #d8d8d8;
  }
}

@layer components {
  /*NAV BUTTONS START*/
  .nav-btn {
    @apply px-4 py-2 transition-all duration-300 rounded-lg text-main-t;
  }
  .nav-btn-DD {
    @apply px-3 py-[6px] text-base transition-all duration-300 rounded-md text-main-t font-extralight;
  }
  .active {
    @apply bg-cyan-500/5 text-main-t-active;
  }
  /*NAV BUTTONS END*/

  /*ALERTS*/
  .alert {
    @apply relative flex px-3 py-2 mt-3 overflow-hidden font-light text-center rounded-md w-max;
  }

  .error {
    @apply bg-alert-bg-error text-alert-t-error;
  }

  .success {
    @apply bg-alert-bg-success text-alert-t-success;
  }
  /*ALERTS END*/
}

::selection {
  background-color: #89ffbe; /* Highlight background color */
  color: #000; /* Text color */
}

::-moz-selection {
  /* Firefox compatibility */
  background-color: #89ffbe; /* Highlight background color */
  color: #000;
}

::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

.scroll {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  overflow-x: auto; /* Allow horizontal scrolling */
}
