@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: none;
}
body {
  font-family: "Nunito", sans-serif;
}

@layer base {
  :root {
    /*MAIN START*/
    --bg-main: #090f0d;
    --text-color: #36876d;
    --text-color-active: #b7ffe8;

    --text-gray: #5c6663;
    --text-gray-active: #b8ccc7;
    /*MAIN END*/

    /*ALERTS START*/
    --alert-bg-error: #141010;
    --alert-text-error: #ff6262;

    --alert-bg-success: #00140f;
    --alert-text-success: #00e2a6;
    /*ALERTS END*/

    /*SAVED ANIMATION START*/
    --bg-controller: #0c1412;
    --bg-saved: #101413;
    /*SAVED ANIMATION END*/
  }

  .light {
    --bg-color: #d8d8d8;
  }
}

@layer components {
  /*NAV BUTTONS START*/
  .nav-btn {
    @apply px-4 py-2 rounded-lg text-main-t;
  }
  .active {
    @apply bg-slate-50/15 text-main-t-active;
  }
  /*NAV BUTTONS END*/

  /*ALERTS*/
  .alert {
    @apply pl-3 pr-7 py-2 mt-3 font-light text-center rounded-md select-none w-max flex relative overflow-hidden;
  }

  .error {
    @apply bg-alert-bg-error text-alert-t-error;
  }

  .success {
    @apply bg-alert-bg-success text-alert-t-success;
  }
  /*ALERTS END*/
}
