@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: none;
}
body {
  font-family: "Nunito", sans-serif;
}

@layer base {
  :root {
    --bg-color: #090f0d;
    --text-color: #36876d;
    --text-color-active: #b7ffe8;

    /**/

    --alert-bg-error: #141010;
    --alert-text-error: #ff6262;

    --alert-bg-success: #00140f;
    --alert-text-success: #00e2a6;
  }

  .light {
    --bg-color: #d8d8d8;
  }
}

@layer components {
  /*NAV BUTTONS START*/
  .nav-btn {
    @apply px-4 py-2 rounded-lg text-main-t;
  }

  .active {
    @apply bg-slate-50/15 text-main-t-active;
  }
  /*NAV BUTTONS END*/

  /*ALERTS*/
  .alert {
    @apply py-2 px-3 mt-3 text-center rounded-md select-none font-light w-max;
  }

  .error {
    @apply bg-alert-bg-error text-alert-t-error;
  }

  .success {
    @apply bg-alert-bg-success text-alert-t-success;
  }
}

/*INPUT RANGE DISABLE*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
