@property --x-pos {
  syntax: "<length>";
  initial-value: 50px;
  inherits: false;
}

/* Navigation main styles */
.navigation-main {
  transition: --x-pos 0.4s 0.1s ease-in-out; /* Animate only the variable */
  background: radial-gradient(
    circle 150px at var(--x-pos) 20px,
    #122721,
    #0a1310,
    #081411
  );
}

.navigation-main.custom {
  --x-pos: 50px;
}
.navigation-main.featured {
  --x-pos: 140px;
}
.navigation-main.micro {
  --x-pos: 240px;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.navigation-main::before,
.navigation::before {
  content: "";
  position: absolute;
  inset: -1px;
  z-index: -1;
  border-radius: inherit;

  background: conic-gradient(
    from var(--gradient-angle),
    var(--text-color-active),
    transparent,
    transparent,
    transparent,
    transparent,
    var(--text-color-active)
  );
  animation: rotation 7s linear infinite;
}

.navigation::before {
  animation: rotation 10s linear infinite;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

@property --x-posDD {
  syntax: "<length>";
  initial-value: 0px;
  inherits: false;
}
.navigation.dd::after {
  --x-posDD: 50px;
}
.navigation.ndd::after {
  --x-posDD: 150px;
}

.navigation::after {
  content: "";
  position: absolute;
  inset: -0px;
  z-index: -1;
  border-radius: inherit;
  transition: --x-posDD 0.4s 0.1s ease-in-out; /* Animate only the variable */
  background: radial-gradient(
    circle 140px at var(--x-posDD) 20px,
    #122721,
    #0a110f,
    #0a110f
  );
}
