@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .middle-container {
    @apply relative grid grid-rows-[min-content_1fr_80px];
  }

  .preview-container {
    @apply relative h-full overflow-hidden;
  }
  .preview-dd-canvas {
    @apply relative z-20 w-full h-full;
  }

  .preview-keyframe-dashed-box {
    @apply absolute z-10 -translate-x-1/2 -translate-y-1/2 border-2 border-dashed border-zinc-600 left-1/2 top-1/2;
  }

  .preview-keyframe-box {
    @apply flex items-center justify-center font-bold rounded-xl;
  }

  /***************/
  /*ALERTS*/
  /***************/
  .alert {
    @apply relative flex px-3 py-2 mt-3 overflow-hidden font-light text-center rounded-md w-max;
  }

  .alert-error {
    @apply bg-alert-bg-error text-alert-t-error;
  }

  .alert-success {
    @apply bg-alert-bg-success text-alert-t-success;
  }

  .alert-x {
    @apply active:scale-[1.4] hover:scale-[1.2] ml-4 transition-all text-alert-t-success;
  }

  .alert-play-pos {
    @apply absolute z-20 right-4 top-5;
  }
  .alert-play-container {
    @apply flex items-center gap-2 text-main-t-gray-active;
  }
  .alert-play-icon {
    @apply text-[8px] mt-1 animate-ping;
  }
  /***************/
  /*ALERTS END*/
  /***************/

  /***************/
  /*ZOOM START*/
  /***************/
  .zoom {
    @apply absolute z-30 flex flex-col rounded-lg;
    background: linear-gradient(to bottom, #0a110f, #0e1f1a, #07110e);
    border: 1px solid #2e92763b;
    color: var(--alert-t-success);
  }
  /***************/
  /*ZOOM END*/
  /***************/
}
