@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif;
}

@layer base {
  :root {
    --bg-color: #020005;
  }

  .light {
    --bg-color: #b38eff;
  }
}

@layer components {
  .btn-animation {
    @apply absolute rounded-md font-light text-base bottom-5 py-1 text-center w-32;
  }
}
